*.php text eol=lf

# git files
.gitattributes export-ignore
.github/ export-ignore

# test files
tests/ export-ignore
phpunit.dist.xml export-ignore
.php-cs-fixer.dist.php export-ignore

# development tools
bin/ export-ignore
page/ export-ignore
