<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd"
         bootstrap="vendor/codeigniter4/codeigniter4/system/Test/bootstrap.php"
         backupGlobals="false"
         colors="true"
         columns="max"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Automatic Review Test Suite">
            <directory suffix="Test.php">tests/AutoReview</directory>
        </testsuite>
        <testsuite name="Language Test Suite">
            <directory suffix="Test.php">tests/Language</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">Language</directory>
        </include>
    </source>

    <php>
        <env name="app.baseURL" value="http://example.com/"/>
    </php>
</phpunit>
