name: automatic review

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - develop
    paths:
      - Language/**
      - tests/**
      - .github/workflows/auto-review.yml
      - LICENSE
  pull_request:
    branches:
      - develop
    paths:
      - Language/**
      - tests/**
      - .github/workflows/auto-review.yml
      - LICENSE

jobs:

  code:
    name: Automatic Review on Code [PHP ${{ matrix.php-versions }}]
    runs-on: ubuntu-22.04
    if: github.repository == 'codeigniter4/translations'

    strategy:
      fail-fast: false
      matrix:
        php-version: ['7.4', '8.0', '8.1']

    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: intl, mbstring
          coverage: none

      - name: Get composer cache directory
        run: echo "COMPOSER_CACHE_FILES_DIR=$(composer config cache-files-dir)" >> $GITHUB_ENV

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: ${{ env.COMPOSER_CACHE_FILES_DIR }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Setup Composer's GitHub OAuth access
        run: composer config --global github-oauth.github.com ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: composer update --ansi

      - name: Run Automatic Review Test Suite
        run: vendor/bin/phpunit --color=always --group=auto-review

  license:
    name: Automatic Review on License
    runs-on: ubuntu-22.04

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: intl, mbstring
          coverage: none

      - name: Get composer cache directory
        run: echo "COMPOSER_CACHE_FILES_DIR=$(composer config cache-files-dir)" >> $GITHUB_ENV

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: ${{ env.COMPOSER_CACHE_FILES_DIR }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Setup Composer's GitHub OAuth access
        run: composer config --global github-oauth.github.com ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: composer update --ansi

      - name: Run Automatic Review Test Suite
        run: vendor/bin/phpunit --color=always --group=license-review

      - name: Update the License Year
        if: failure() && github.event_name == 'push'
        run: |
          php .github/scripts/update-license
          echo "LICENSE_UPDATED=true" >> $GITHUB_OUTPUT
        id: license

      - name: Create Pull Request for Updated License
        if: failure() && steps.license.outputs.LICENSE_UPDATED == 'true' && github.event_name == 'push'
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'chore: update license year'
          branch: update-license-year
          delete-branch: true
          base: develop
          title: 'chore: update license year'
