name: automatic review

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - develop
    paths:
      - Language/**
      - tests/**
      - .github/workflows/auto-review.yml
  pull_request:
    branches:
      - develop
    paths:
      - Language/**
      - tests/**
      - .github/workflows/auto-review.yml

jobs:

  main:
    name: Automatic Review [PHP ${{ matrix.php-versions }}]
    runs-on: ubuntu-20.04
    if: github.repository == 'codeigniter4/translations'

    strategy:
      fail-fast: false
      matrix:
        php-versions: ['7.4', '8.0', '8.1']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: intl, mbstring
          coverage: none

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Create composer cache directory
        run: mkdir -p ${{ steps.composer-cache.outputs.dir }}

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Setup Composer's GitHub OAuth access to prevent rate limiting
        run: composer config --global github-oauth.github.com ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: composer update --ansi

      - name: Run Automatic Review Test Suite
        run: vendor/bin/phpunit --color=always --group=auto-review
