name: code style

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - develop
    paths:
      - Language/**
      - tests/Language/**
      - utils/**
      - .github/scripts/continuous-integration
      - .github/workflows/code-style.yml
  pull_request:
    branches:
      - develop
    paths:
      - Language/**
      - tests/Language/**
      - utils/**
      - .github/scripts/continuous-integration
      - .github/workflows/code-style.yml

permissions:
  contents: read

jobs:
  main:
    name: Code Style Check [PHP ${{ matrix.php-version }}]
    runs-on: ubuntu-24.04
    if: github.repository == 'codeigniter4/translations'

    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.1', '8.2', '8.3']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: tokenizer
          coverage: none
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get composer cache directory
        run: echo "COMPOSER_CACHE_FILES_DIR=$(composer config cache-files-dir)" >> $GITHUB_ENV

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ env.COMPOSER_CACHE_FILES_DIR }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies on tools
        run: composer update --ansi

      - name: Run PHP CS Fixer
        run: vendor/bin/php-cs-fixer fix --verbose --ansi --dry-run --using-cache=no --diff
